{% extends 'base.html' %}
{% block title %}
Gallary
{% endblock title %}
{% block head %}
<h1>Gallary contents</h1>
<div class="container mt-6">

    <div class="row">
    
    
    {% for post in posts  %}  
    <div class="col-md-6 mb-4">
    
    
        <div class="card">
            <img src="{{post.img.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text text-white">Uploaded On : {{post.timeStamp}} </p>
            </div>
          </div>
    
    
    </div>
    {% endfor %}
    <br>
    <br>
    
    
    </div>
    </div>
    



{% endblock head %}